main {
	background-color: green; 
	text-align:center
}

button {
	color:black; 
	border-radius:100px;
	-webkit-transition: all 0.3s ease;;
	-moz-transition: all 0.3s ease;;
	-o-transition: all 0.3s ease;;
	transition: all 0.3s ease;
}

img {
}

h1 {
	text-align:center; 
	color:white
}

header {
	background-color:black
}
h6 {
	text-color:black
}

footer {
	background-color:black;
	text-align:center;
	color:black
}

button:hover {
	  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
	}
