main {
	background-color: green; 
	text-align:center
}

button {
	color:black; 
	border-radius:100px
}

h1 {
	text-align:center; 
	color:white
}

header {
	background-color:black
}

h6 {
	text-color:black
}

footer {
	background-color:black;
	text-align:center;
	text-color:black
}

button:hover {
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4)
	}
