main {
	background-color: green; 
	text-align:center
}

button {
	color:black; 
	border-radius:100px
}

h1 {
	text-align:center; 
	color:white
}

header {
	background-color:black
}

footer {
	background-color:black;
	text-align:center
}

button:hover {
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2)
	}
